@mixin parrafo {font-size: 20px;
                text-align: justify;
                letter-spacing: 3px;}

@mixin mod {font-size: 30px;
            width: 80%;
            margin-left: 70px;
            margin-top: 40px;
            text-decoration: underline;
            letter-spacing: 3px;}

@mixin dd {font-size: 20px;
           width: 80%;
           text-align: justify;
           margin-left: 70px;
           margin-top: 10px;
           margin-right: 20px;
           letter-spacing: 3px;}

@mixin img-1 {width: 30%;
              margin-top: 10px;
              margin-block-end: 10px;
              margin-left: 150px;}

@mixin img-2 {width: 60%;
              margin-top: 10px;
              margin-block-end: 10px;
              margin-left: 250px;}

@mixin subtitulo {font-size: 50px;
                  font-weight: bold;
                  text-align: center;
                  margin-top: 10px;
                  text-decoration: underline;
                  color: black;
                  letter-spacing: 3px;}
                  
@mixin text {margin-left: 10px;
             margin-right: 10px;
             letter-spacing: 3px;}