//index//
@media (max-width:376px) {
    .nav-item {font-size: 10px;
                          padding: 0 20px;}
    .Homepage {width:  375px;
               height: 628px;}
    .titulo {font-size: 45px;}
    .pie-de-pagina {font-size: 10px;}
    .Institucional {font-size: 10px;}
    .politicas {font-size: 10px;}
    .logo-1 {padding: 0 140px;} 
    .Institucional {font-size: 10px}
    .politicas {font-size: 10px;}}

//main-historia//
@media (max-width:376px) {
    /* mk1 */
     .subtitulo-1 {font-size: 21px;}
     .p-1 {font-size: 15px;}
     .mk1-sub {font-size: 15px;
               margin-left: 47px;}
     .img-mk1 {margin-left: 47px;}
    
     /* mk2 */
     .subtitulo-2 {font-size: 21px;}
     .p-2 {font-size: 15px;}
     .img-mk2 { margin-left: 47px;}
    
       /* mk3 */
     .subtitulo-3 {font-size: 21px;}
     .p-3 { font-size: 15px;}
     .img-mk3 { margin-left: 47px;}
     .img-mk3-2 {margin-left: 47px;}
     .mk3-sub { margin-left: 47px;
                font-size: 15px;}
     
      /*mk4*/
      .img-mk4 {margin-left: 47px;}
      .img-mk4-2 {margin-left: 47px;}
      .p-4-sub {margin-left: 100px;}
    
     /* mk5 */
     .subtitulo-5 {font-size: 21px;}
     .img-mk5 {margin-left: 47px;}
     .p-5-3 {margin-left: 40px}
    
     /* mk6 */
     .subtitulo-6 {font-size: 21px;}
     .img-mk6 {margin-left: 47px;}
     .p-6-3 {margin-left: 40px}
    
     /* mk7 */
     .img-mk7 {width: 90%;
               margin-left: 23px;}
     .img-mk7-2 {margin-left: 20px;}
     .img-mk7-3 {margin-left: 35px;}
     .p-7-2 {margin-left: 25px ;}
     .p-7-3 {margin-left: 50px;}
    
         /* mk7 */
        .img-mk8 {margin-left: 47px;}}
    
     //modificaicones//
     @media (max-width:376px) {
      .h1 {font-size: 30px;}
      .inicio-1 {font-size: 10px;}
      .h2 {font-size: 20px;}
      .mod-comunes {font-size: 10px;}
      .mod-1 {font-size: 15px}
      .mod-2 {font-size: 15px}
      .mod-3 {font-size: 15px}
      .dd-1 {font-size: 10px}
      .dd-2 {font-size: 10px}
      .dd-3 {font-size: 10px}
      .dd-4 {font-size: 10px}
      .repro {margin-left: 30px;}
      .apr {margin-left: 30px;}
      .revo {margin-left: 50px;}
      .escape {margin-left: 30px;}
      .kyn {margin-left: 30px;}}